<html>
    <head>
        <title>Sangenisp blog</title>        
    </head>

    <body>
        <div>
            <h1><a href="/">Pablo Alejandro Sangenis - TechBlog -</a></h1>
        </div>

        <div>
            <p>published: 14/01/2019, 12:14</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Contenido del primer post, desde una plantilla sacado todo esto</p>
        </div>

        <div>
            <p>published: 14/01/2019, 12:14</p>
            <h2><a href="">Mi segundo post</a></h2>
            <p>Contenido del segundo post, desde una plantilla sacado todo esto</p>
        </div>

    </body>

</html>